body{
    background:rgb(48, 57, 82);
    color:white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.prestigeButton{
    border:3px solid black;
    font-size:medium;
    margin: 1em;
    width:25%;
    padding: 1.25em;
    color:black;
    align-self: center;
}

.tabButton{
    border: 3px solid black;
    margin: .5em;
    padding: .5em;
    background-color: black;
    border-radius: 25%
}

.spellButton{
    width:50%;
    color:black;
    border: 3px solid black;
}